<header class="bg-nav" id="header">
    <div class="flex justify-between">
        <div class="p-1 mx-3 inline-flex items-center">
            <img src="/img/logo.png" alt="" srcset="" class="logo">
        </div>
        <div class="p-1 flex flex-row items-center">
            <div class="searchuser">
                <div class="searchspace">
                    <label for="" onclick="searchoptionn()" class="serachicon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.111 20.058l-4.977-4.977c.965-1.52 1.523-3.322 1.523-5.251 0-5.42-4.409-9.83-9.829-9.83-5.42 0-9.828 4.41-9.828 9.83s4.408 9.83 9.829 9.83c1.834 0 3.552-.505 5.022-1.383l5.021 5.021c2.144 2.141 5.384-1.096 3.239-3.24zm-20.064-10.228c0-3.739 3.043-6.782 6.782-6.782s6.782 3.042 6.782 6.782-3.043 6.782-6.782 6.782-6.782-3.043-6.782-6.782zm2.01-1.764c1.984-4.599 8.664-4.066 9.922.749-2.534-2.974-6.993-3.294-9.922-.749z"/></svg>
                    </label>
                    <div id="options">
                        <div class="display">
                            <div class="name btn" onclick="names()">By Name</div>
                            <div class="city btn" onclick="city()">By City</div>
                            <div class="state btn" onclick="state()">By State</div>
                            <div class="zip btn" onclick="zip()">By Zip Code</div>
                        </div>
                    </div>
                </div>
                <form action="/searchbyname" method="post" id="searchbyname">
                    <div class="byname">
                        <label for="">Enter Name : </label>
                        <input type="text" name="username">
                    </div>
                    <button type="submit" class="btns">Submit</button>
                </form>
                <form action="/searchbycity" method="post" id="searchbycity">
                    <div class="bycity">
                        <label for="">Enter city : </label>
                        <input type="text" name="usercity">
                    </div>
                    <button type="submit" class="btns">Submit</button>
                </form>
                <form action="/searchbystate" method="post" id="searchbystate">
                    <div class="bystate">
                        <label for="">Enter State : </label>
                        <input type="text" name="userstate">
                    </div>
                    <button type="submit" class="btns">Submit</button>
                </form>
                <form action="/searchbyzip" method="post" id="searchbyzip">
                    <div class="byzip" name="userzip">
                        <label for="">Enter Zip Code : </label>
                        <input type="number">
                    </div>
                    <button type="submit" class="btns">Submit</button>
                </form>
            </div>
            <img onclick="profileToggle()" class="inline-block h-8 w-8 rounded-full" src="https://avatars0.githubusercontent.com/u/4323180?s=460&v=4" alt="">
            <a href="#" onclick="profileToggle()" class="text-white p-2 no-underline hidden md:block lg:block">Adam Wathan</a>
            <div id="ProfileDropDown" class="rounded hidden shadow-md bg-white absolute pin-t mt-12 mr-1 pin-r">
                <ul class="list-reset">
                  <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">My account</a></li>
                  <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Notifications</a></li>
                  <li><hr class="border-t mx-2 border-grey-ligght"></li>
                  <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>