<div class="up">
    <div class="one flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
        <div class="shadow-lg bg-red-vibrant border-l-8 hover:bg-red-vibrant-dark border-red-vibrant-dark mb-2 p-2 md:w-1/4 mx-2">
            <div class="p-4 flex flex-col" >
                <a href="gyms" class="no-underline text-white text-2xl">
                    Gyms
                </a>
            </div>
        </div>
        <div class="shadow shadow-lg bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2">
            <div class="p-4 flex flex-col">
                <a href="/addgyms" class="no-underline text-white text-2xl">
                    Add Gyms
                </a>
            </div>
        </div>
        <div class="shadow shadow-lg bg-info border-l-8 hover:bg-info-dark border-info-dark mb-2 p-2 md:w-1/4 mx-2">
            <div class="p-4 flex flex-col">
                <a href="users" class="no-underline text-white text-2xl">
                   Users
                </a>
            </div>
        </div>
        <div class="shadow shadow-lg bg-success border-l-8 hover:bg-success-dark border-success-dark mb-2 p-2 md:w-1/4 mx-2">
            <div class="p-4 flex flex-col">
                <a href="/addusers" class="no-underline text-white text-2xl">
                    Add Users
                </a>
            </div>
        </div>
    </div>
    <div class="two flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
        <div class="shadow shadow-lg bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2 affilate">
            <div class="p-4 flex flex-col">
                <a href="/businessdetails" class="no-underline text-white text-2xl">
                    Affiliates
                </a>
            </div>
        </div>
        <div class="shadow shadow-lg bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2 affilate">
            <div class="p-4 flex flex-col">
                <a href="/addbusiness" class="no-underline text-white text-2xl">
                    Add Affiliates
                </a>
            </div>
        </div>
        <div class="shadow shadow-lg bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2 personal">
            <div class="p-4 flex flex-col">
                <a href="/personaltrainer" class="no-underline text-white text-2xl">
                    Personal Trainer
                </a>
            </div>
        </div>
        <div class="shadow shadow-lg bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2 personal">
            <div class="p-4 flex flex-col">
                <a href="/addpersonaltrainer" class="no-underline text-white text-2xl">
                    Add Personal Trainer
                </a>
            </div>
        </div>
    </div>
</div>