<aside id="sidebar" class="bg-side-nav w-1/2 md:w-1/6 lg:w-1/6 border-r border-side-nav hidden md:block lg:block">

    <ul class="list-reset flex flex-col">
        <li class=" w-full h-full py-3 px-2 border-b border-light-border bg-white">
            <a href="/gyms"
               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                Dashboard
                <span><i class="fas fa-angle-right float-right"></i></span>
            </a>
        </li>
        <li class="w-full h-full py-3 px-2 border-b border-light-border">
            <a href="/graph"
               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                <i class="fab fa-wpforms float-left mx-2"></i>
                Graph
                <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
        </li>
        <!-- <li class="w-full h-full py-3 px-2 border-b border-light-border">
            <a href="/addpromo"
               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                <i class="fas fa-grip-horizontal float-left mx-2"></i>
                Add promo code
                <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
        </li> -->
        <li class="w-full h-full py-3 px-2 border-b border-light-border">
            <a href="/setmax"
               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                <i class="fas fa-table float-left mx-2"></i>
                Set Max
                <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
        </li>
        <li class="w-full h-full py-3 px-2 border-b border-light-border">
            <a href="/email"
               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                <i class="fab fa-uikit float-left mx-2"></i>
                Emails List
                <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
        </li>
        <li class="w-full h-full py-3 px-2 border-b border-light-border">
            <a href="/pricinggyms"
               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                <i class="fab fa-uikit float-left mx-2"></i>
                Pricing Gyms List
                <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
        </li>
        <li class="w-full h-full py-3 px-2 border-b border-300-border">
            <a href="/moreinfo" class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                <i class="fas fa-square-full float-left mx-2"></i>
                Add more Information
                <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
        </li>
        <li class="w-full h-full py-3 px-2 border-b border-300-border">
            <a href="/footer" class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                <i class="fas fa-square-full float-left mx-2"></i>
                Footer Section
                <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
        </li>
        <li class="w-full h-full py-3 px-2 border-b border-300-border">
            <a href="/addemail" class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                <i class="fas fa-square-full float-left mx-2"></i>
                Add Email
                <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
        </li>
        <li class="w-full h-full py-3 px-2 border-b border-300-border">
            <a href="/addmassage" class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                <i class="fas fa-square-full float-left mx-2"></i>
                Add Message to User
                <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
        </li>
        <li class="w-full h-full py-3 px-2 border-b border-300-border">
            <a href="/tax" class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                <i class="fas fa-square-full float-left mx-2"></i>
                Change Tax
                <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
        </li>
        <li class="w-full h-full py-3 px-2">
            <a href="upload"
               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                <i class="far fa-file float-left mx-2"></i>
                Add home page content
                <span><i class="fa fa-angle-down float-right"></i></span>
            </a>
            <ul class="list-reset -mx-2 bg-white-medium-dark">
                <li class="border-t mt-2 border-light-border w-full h-full px-2 py-3">
                    <a href="/addgymlogo"
                       class="mx-4 font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                        Add gym logo
                        <span><i class="fa fa-angle-right float-right"></i></span>
                    </a>
                </li>
                <li class="border-t border-light-border w-full h-full px-2 py-3">
                    <a href="/color"
                       class="mx-4 font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                        Home page colors
                        <span><i class="fa fa-angle-right float-right"></i></span>
                    </a>
                </li>
                <li class="border-t border-light-border w-full h-full px-2 py-3">
                    <a href="404.html"
                       class="mx-4 font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                        404 Page
                        <span><i class="fa fa-angle-right float-right"></i></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</aside>