<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/login.css"> -->
    <link rel="stylesheet" href="/lo.css">
    <title>Admin Panel Change Details</title>
</head>
<body>
    <div class="form">
        <div class="top">WELCOME</div>
        <div class="img">
            <img src="/img/th.jpg" alt="">
        </div>
        <form action="/changeadmin" method="post">
            <div class="inputs">
                <input type="text" placeholder="New User Name" name="newusername">
                <input type="text" placeholder="New Password" name="newpassword">
                <input type="text" placeholder="Confirm Password" name="confirmpassword">
            </div>

            <button type="submit">
               Submit
             </button>
        </form>
    </div>

</body>
</html>