<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="tailwind,tailwindcss,tailwind css,css,starter template,free template,admin templates, admin template, admin dashboard, free tailwind templates, tailwind example">
    <!-- Css -->
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/all.css">
    <link rel="stylesheet" href="/admin.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i" rel="stylesheet">
    <title>Dashboard | Tailwind Admin</title>
</head>

<body>
    <%- include('../partials/donate.ejs'); %>
<!--Container -->
<div class="mx-auto bg-grey-400">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
        <!--Header Section Starts Here-->
        <%- include('../partials/header.ejs'); %>
        <!--/Header-->
        <%- include('../partials/smallbar.ejs'); %>
        <div class="flex flex-1">
            <!--Sidebar-->
            <%- include('../partials/aside.ejs'); %>
            <!--/Sidebar-->
            <!--Main-->
            <main class="bg-white-300 flex-1 p-3 overflow-hidden">

                <div class="flex flex-col">
                    <!-- Stats Row Starts Here -->
                    <div class="up">
                        <div class="one flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
                            <div class="shadow-lg bg-red-vibrant border-l-8 hover:bg-red-vibrant-dark border-red-vibrant-dark mb-2 p-2 md:w-1/4 mx-2">
                                <div class="p-4 flex flex-col" >
                                    <a href="gyms" class="no-underline text-white text-2xl">
                                        Gyms
                                    </a>
                                </div>
                            </div>
                            <div class="shadow shadow-lg bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2">
                                <div class="p-4 flex flex-col">
                                    <a href="/addgyms" class="no-underline text-white text-2xl">
                                        Add Gyms
                                    </a>
                                </div>
                            </div>
                            <div class="shadow shadow-lg bg-info border-l-8 hover:bg-info-dark border-info-dark mb-2 p-2 md:w-1/4 mx-2">
                                <div class="p-4 flex flex-col">
                                    <a href="users" class="no-underline text-white text-2xl">
                                       Users
                                    </a>
                                </div>
                            </div>
                            <div class="shadow shadow-lg bg-success border-l-8 hover:bg-success-dark border-success-dark mb-2 p-2 md:w-1/4 mx-2">
                                <div class="p-4 flex flex-col">
                                    <a href="/addusers" class="no-underline text-white text-2xl">
                                        Add Users
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="two flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
                            <div class="shadow shadow-lg bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2 affilate">
                                <div class="p-4 flex flex-col">
                                    <a href="/businessdetails" class="no-underline text-white text-2xl">
                                        Affiliates
                                    </a>
                                </div>
                            </div>
                            <div class="shadow shadow-lg bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2 affilate">
                                <div class="p-4 flex flex-col">
                                    <a href="/addbusiness" class="no-underline text-white text-2xl">
                                        Add Affiliates
                                    </a>
                                </div>
                            </div>
                            <div class="shadow shadow-lg bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2 personal">
                                <div class="p-4 flex flex-col">
                                    <a href="/personaltrainer" class="no-underline text-white text-2xl">
                                        Personal Trainer
                                    </a>
                                </div>
                            </div>
                            <div class="shadow shadow-lg bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2 personal">
                                <div class="p-4 flex flex-col">
                                    <a href="/addpersonaltrainer" class="no-underline text-white text-2xl">
                                        Add Personal Trainer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="rounded overflow-hidden shadow bg-white mx-2 w-full pt-2">
                        <div class="px-6 py-2 border-b border-light-grey">
                            <div class="font-bold text-xl">Progress Among Projects</div>
                        </div>
                        <div class="">
                            <div class="w-full">

                                <div class="shadow w-full bg-grey-light">
                                    <div class="bg-blue-500 text-xs leading-none py-1 text-center text-white" style="width: 45%">45%
                                    </div>
                                </div>


                                <div class="shadow w-full bg-grey-light mt-2">
                                    <div class="bg-teal-500 text-xs leading-none py-1 text-center text-white" style="width: 55%">55%
                                    </div>
                                </div>


                                <div class="shadow w-full bg-grey-light mt-2">
                                    <div class="bg-orange-500 text-xs leading-none py-1 text-center text-white" style="width: 65%">65%
                                    </div>
                                </div>


                                <div class="shadow w-full bg-grey-300 mt-2">
                                    <div class="bg-red-800 text-xs leading-none py-1 text-center text-white" style="width: 75%">75%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
            </main>
            <!--/Main-->
        </div>
        <!--Footer-->
        <footer class="bg-grey-darkest text-white p-2">
            <div class="flex flex-1 mx-auto">&copy; My Design</div>
        </footer>
        <!--/footer-->

    </div>


</div>
<script >
    function filter(){
        let filteroptions = document.getElementById("filtertabs");
        const element = document.querySelector('#filtertabs')
        const style = getComputedStyle(element);
        console.log(style.display);
        if(style.display == "none"){
            filteroptions.style.display = "block";
        }
        else{
            filteroptions.style.display = "none";
        }
    }

    function checkdata(){
        console.log("clicked");
        let filteroptions = document.getElementById("ecopre");
        const style = getComputedStyle(filteroptions);
        let premimum1 = document.querySelector("#pacakage500");
        let economical1 = document.querySelector("#pacakage150");
        console.log(style.display);
        console.log(premimum1.checked)
        if(premimum1.checked == true){
            filteroptions.style.display = "block";
        }
        else{
            if(economical1.checked == true){
                filteroptions.style.display = "block";
            }
            else{
                filteroptions.style.display = "none";
            }
        }
    }

    let count=0;
    function edit(e){
        count++;
        console.log(e);
        let editt = document.getElementById("editt");
        if(editt.style.display == 'none'){
            editt.style.display='flex';
            var getMeTo = document.getElementById("editt");
            getMeTo.scrollIntoView({behavior: 'smooth'}, true);
            document.body.style.overflowY="hidden";
        }
        else{
            editt.style.display='none';
            document.body.style.overflowY="none";
        }
        var d1 = document.getElementById('change');
        if(count>1){
            d1.insertAdjacentHTML('afterend', `<div class="md:flex md:items-center mb-6 visible">
                                        <div class="md:w-1/4">
                                            <label class="block text-gray-500 font-regular md:text-right mb-1 md:mb-0 pr-4"
                                                for="inline-full-name">
                                                Id
                                            </label>
                                        </div>
                                        <div class="md:w-3/4">
                                            <input class="bg-grey-200 appearance-none border-1 border-grey-200 rounded w-full py-2 px-4 text-grey-darker leading-tight focus:outline-none focus:bg-white focus:border-purple-light"
                                                id="inline-full-name" type="text" value="${e}" name="changeid">
                                        </div>
                                    </div>`);
        }
    }


    function searchoption(){
        console.log("hellooo");
        let options = document.getElementById("options");
        const element = document.querySelector('#options');
        const style = getComputedStyle(element);
        let searchbyname = document.getElementById("searchbyname");
        let searchbycity = document.getElementById("searchbycity");
        let searchbystate = document.getElementById("searchbystate");
        let searchbyzip = document.getElementById("searchbyzip");
        if(style.display == "none"){
            options.style.display = "block";
        }
        else{
            options.style.display = "none";
            searchbyname.style.display = "none";
            searchbycity.style.display = "none";
            searchbystate.style.display = "none";
            searchbyzip.style.display = "none";
        }
    }

    function names(){
        let searchbyname = document.getElementById("searchbyname");
        let searchbycity = document.getElementById("searchbycity");
        let searchbystate = document.getElementById("searchbystate");
        let searchbyzip = document.getElementById("searchbyzip");
        const element = document.querySelector('#searchbyname');
        const stylename = getComputedStyle(element);
        if(stylename.display == "none"){
            searchbyname.style.display = "block";
            searchbycity.style.display = "none";
            searchbystate.style.display = "none";
            searchbyzip.style.display = "none";
        }
        else{
            searchbyname.style.display = "none";
        }
    }

    function city(){
        let searchbyname = document.getElementById("searchbyname");
        let searchbycity = document.getElementById("searchbycity");
        let searchbystate = document.getElementById("searchbystate");
        let searchbyzip = document.getElementById("searchbyzip");
        const element = document.querySelector('#searchbycity');
        const stylename = getComputedStyle(element);
        if(stylename.display == "none"){
            searchbyname.style.display = "none";
            searchbycity.style.display = "block";
            searchbystate.style.display = "none";
            searchbyzip.style.display = "none";
        }
        else{
            searchbyname.style.display = "none";
        }
    }

    function state(){
        let searchbyname = document.getElementById("searchbyname");
        let searchbycity = document.getElementById("searchbycity");
        let searchbystate = document.getElementById("searchbystate");
        let searchbyzip = document.getElementById("searchbyzip");
        const element = document.querySelector('#searchbystate');
        const stylename = getComputedStyle(element);
        if(stylename.display == "none"){
            searchbyname.style.display = "none";
            searchbycity.style.display = "none";
            searchbystate.style.display = "block";
            searchbyzip.style.display = "none";
        }
        else{
            searchbyname.style.display = "none";
        }
    }

    function zip(){
        let searchbyname = document.getElementById("searchbyname");
        let searchbycity = document.getElementById("searchbycity");
        let searchbystate = document.getElementById("searchbystate");
        let searchbyzip = document.getElementById("searchbyzip");
        const element = document.querySelector('#searchbyzip');
        const stylename = getComputedStyle(element);
        if(stylename.display == "none"){
            searchbyname.style.display = "none";
            searchbycity.style.display = "none";
            searchbystate.style.display = "none";
            searchbyzip.style.display = "block";
        }
        else{
            searchbyname.style.display = "none";
        }
    }
</script>
</body>

</html>