<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="tailwind,tailwindcss,tailwind css,css,starter template,free template,admin templates, admin template, admin dashboard, free tailwind templates, tailwind example">
    <!-- Css -->
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/all.css">
    <link rel="stylesheet" href="/admin.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/setmax.css">
    <title>Change Tax</title>
</head>

<body>
    <%- include('../partials/donate.ejs'); %>
<!--Container -->
<div class="mx-auto bg-grey-400">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
        <!--Header Section Starts Here-->
        <%- include('../partials/header.ejs'); %>
        <!--/Header-->

        <div class="flex flex-1">
            <!--Sidebar-->
               <%- include('../partials/aside.ejs'); %>
            <!--/Sidebar-->
            <!--Main-->
            <main class="bg-white-300 flex-1 p-3 overflow-hidden">

                <div class="flex flex-col">
                    <!-- Stats Row Starts Here -->
                    <div class="up">
                        <div class="one flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
                            <div class="shadow-lg bg-red-vibrant border-l-8 hover:bg-red-vibrant-dark border-red-vibrant-dark mb-2 p-2 md:w-1/4 mx-2">
                                <div class="p-4 flex flex-col" >
                                    <a href="gyms" class="no-underline text-white text-2xl">
                                        Gyms
                                    </a>
                                </div>
                            </div>
                            <div class="shadow shadow-lg bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2">
                                <div class="p-4 flex flex-col">
                                    <a href="/addgyms" class="no-underline text-white text-2xl">
                                        Add Gyms
                                    </a>
                                </div>
                            </div>
                            <div class="shadow shadow-lg bg-info border-l-8 hover:bg-info-dark border-info-dark mb-2 p-2 md:w-1/4 mx-2">
                                <div class="p-4 flex flex-col">
                                    <a href="users" class="no-underline text-white text-2xl">
                                       Users
                                    </a>
                                </div>
                            </div>
                            <div class="shadow shadow-lg bg-success border-l-8 hover:bg-success-dark border-success-dark mb-2 p-2 md:w-1/4 mx-2">
                                <div class="p-4 flex flex-col">
                                    <a href="/addusers" class="no-underline text-white text-2xl">
                                        Add Users
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="two flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
                            <div class="shadow shadow-lg bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2 affilate">
                                <div class="p-4 flex flex-col">
                                    <a href="/businessdetails" class="no-underline text-white text-2xl">
                                        Affiliates
                                    </a>
                                </div>
                            </div>
                            <div class="shadow shadow-lg bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2 affilate">
                                <div class="p-4 flex flex-col">
                                    <a href="/addbusiness" class="no-underline text-white text-2xl">
                                        Add Affiliates
                                    </a>
                                </div>
                            </div>
                            <div class="shadow shadow-lg bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2 personal">
                                <div class="p-4 flex flex-col">
                                    <a href="/personaltrainer" class="no-underline text-white text-2xl">
                                        Personal Trainer
                                    </a>
                                </div>
                            </div>
                            <div class="shadow shadow-lg bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2 personal">
                                <div class="p-4 flex flex-col">
                                    <a href="/addpersonaltrainer" class="no-underline text-white text-2xl">
                                        Add Personal Trainer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="setmax">
                        <form action="/tax" method="post">
                            <div class="maxvalues">
                                <div class="ecovalue">
                                    <label for="">Current Tax : <%= tax %></label>
                                </div>
                                <div class="ecovalue">
                                    <label for="">SET TAX</label>
                                    <input type="text" name="tax" placeholder="Enter value of tax">
                                </div>
                            </div>
                            <button type="submit" class="subbutton">SUBMIT</button>
                        </form>
                    </div>

            </main>
            <!--/Main-->
        </div>
        <!--Footer-->
        <footer class="bg-grey-darkest text-white p-2">
            <div class="flex flex-1 mx-auto">&copy; My Design</div>
        </footer>
        <!--/footer-->

    </div>

</div>
</body>

</html>
