.email{
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
}
form{
    background-color: aquamarine;
    padding: 20px;
}
.btn{
    background-color: brown;
}
.ecogymse{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#gymss{
    display: flex;
    gap: 50px;
}
.titl{
    text-align: center;
}
.ecogymse input{
    border: 2px solid;
    height: 40px;
    border-radius: 5px;
}