.filter{
    margin-left: 1rem;
}
.filterinputs label{
    margin-right: 20px;
}
.filterinputs{
    display: none;
}
.filtertext:hover{
    cursor: pointer;
}
.gyminfo:hover{
    cursor: pointer;
}
.gyminfo{
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding-bottom: 10px;
}
.profileimg img{
    width: 70px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 2px solid gray;
    border-radius: 25%;
}
.gymname{
    position: relative;
    top: -25px;
}
.otherinfo{
    text-align: justify;
}
.allgyms{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.edit{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow-y: hidden;
}
.rightcorner{
    position: relative;
    right: -89px;
}
.visible{
    opacity: 0;
}
.editdiv{
    flex-direction: row;
}
.admindiv{
    width: 100%;
}
.cancle{
    width:88px;
}
@media (min-width: 1024px){
.admindiv {
    width: 100%;
}
}

.border-gray-300 {
    border-color: #89cff0;
}
.border-grey-light {
    border-color: #89cff0;
}
.border-gray-400 {
    border-color: #89cff0;
}
.border-gray-200 {
    border-color: #89cff0;
}
*, *::before, *::after {
    border-style: solid;
    border-color: #89cff0;
}

.preeco{
    background-color: gray;
    display: none;
        position: relative;
        width: 300px;
        height: 66px;
        left: 56px;
}
#economical1{
    margin-left: 19px;
}
.donate{
    display: none;
    position: fixed;
    height: 125px;
    width: 211px;
    background-color: white;
    padding: 20px;
    z-index: 1000;
    right: 10px;
    bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#donateamt{
    width: 20px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.don{
    display: flex;
    width: 211px;
}
.don label{
    color: rgb(49, 190, 49);
    font-size: 30px;
}
.don img{
    width: 15px;
}
#uparrow{
    position: relative;
    right: 20px;
    top: 6px;
}
.downarrow{
    position: relative;
    right: 34px;
    top: 26px;

}
.downarrow img{
    transform: rotate(180deg);
}
.btns {
    margin-left: 17px;
    margin-top: 8px;
    width: 140px;
  appearance: button;
  background-color: #1652F0;
  border: 1px solid #1652F0;
  border-radius: 25px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btns:disabled {
  opacity: .5;
}

.bnts:focus {
  outline: 0;
}

.btns:hover {
  background-color: #0A46E4;
  border-color: #0A46E4;
}

.btns:active {
  background-color: #0039D7;
  border-color: #0039D7;
}
.bar {
    width: 23px;
    position: relative;
    top: 40px;
    right: 21px;
    height: 1px;
    background-color: green;
}
.p-4{
    padding: 0;
}
.shadow-lg{
    border-radius: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-2xl {
    font-size: 1.1rem;
    color: black;
}
.up{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


#searchbyname, #searchbycity, #searchbystate, #searchbyzip,#options{
    display: none;
}
.display{
    display: flex;
    gap: 10px;
}
.searchuser form{
    position: absolute;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 20px;
    top: 58px;
}
.serachicon{
    position: relative;
    right: 7px;
    top: 1px;
}
.searchuser input{
    border:2px solid #1652F0;
}
.btn{
    background-color: #0A46E4;
    padding: 10px;
    border-radius: 25px;
}
.searchspace{
    display: flex;
    gap: 10px;
}
#options{
    margin-right: 10px;
}
#donateamt::-webkit-outer-spin-button,
#donateamt::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.serachicon:hover{
    cursor: pointer;
}
.btn:hover{
    cursor: pointer;
}
.mb-2{
    background-color: #e46050;
    border-color: #d64230;
}
.bg-success,.bg-info{
    background-color: #00ff00;
    border-color: rgb(49, 190, 49);
}
.affilate{
    background-color: #89cff0;
    border-color: #46b5e8;
}
.personal{
    background-color: #ffb52c;
    border-color: #ffa500;
}
.logo{
    width: 120px;
}



.line2{
    color: blue;
}
.line3{
    color: green;
}